body{
    --border-radius: 1.125rem;
    height: 100vh;
    background: var(--gradient-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outbox{
    padding: 3rem;
    margin: 1rem;
    background: #fff;
    width: 800px;
    border-radius: var(--border-radius);
    box-shadow: 0.4rem 1.5rem 4rem rgba(0, 0, 0, 0.1);
}

.outbox .title{
    font-size: 1.2rem;    
    text-align: center;
    margin-bottom: 0.5rem;
}

.outbox .desc{
    text-align: center;
    margin-bottom: 2rem;
}

.outbox .aff-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

@media (max-width: 991px){
    .outbox{
        padding: 2rem;
    }
    .outbox .aff-links{
        grid-template-columns: 1fr;
    }
}

/* .outbox .aff-links a{
    width: 100%;
} */